<p><i>Darrera actualització: {{ changed }}</i></p>

<ul>
  <li><a href="#legal-dpn">Avís de protecció de dades</a> - informació sobre com
  poden ser usades les vostres dades personals quan visiteu aquesta web.</li>
  <li><a href="#legal-cookies">Informació de les Cookies</a> - informació sobre
   cookies i la nostra web, incloent com <a href="#clear-cookies">gestionar-les</a>.</li>
</ul>

<h2 id="legal-dpn">Avís de protecció de dades</h2>
<p>Un dels vostres drets emparats per la legislació de la UE és que heu
 de ser informat quan les vostres dades personals, també conegudes com a informació personal, són processades
  (recollides, usades, emmagatzemades) per alguna organització. També teniu el dret
   a saber els detalls i propòsit d'aquest processament.</p>
<p>A alguns del serveis oferts a la nostra web els cal el processament de les vostres
 dades personals. En aquests casos hi ha enllaços en aquestes pàgines adreçant-vos
  a la informació concreta sobre el processament contingut als avisos destacats
   de protecció de dades.</p>
<p>A sota trobareu un resum d'algunes maneres en les que aquesta web
 processa les vostres dades personals, incloent l'us de
  <a href="#legal-cookies">cookies</a> i
  <a href="#Social-media">xarxes socials</a>.</p>

<h4>Les vostres dades personals i la nostra web</h4>
<ul>
  <li>Només recollim la vostra informació personal fins el llindar necessari
   per a dur a terme amb precissió les nostres tasques;
  </li>
  <li>Usarem les vostres dades personals amb finalitats de màrqueting directe;</li>
  <li>No usarem la informació per altres finalitats que les establertes;
</li>
  <li>Prendrem les mesures necessàries a fi de garantir que les vostres dades s'actulitzen
   i es processen de manera segura; </li>
  <li>Sota certes premises contemplades a la legislació, podem cedir la vostra informació
   a terceres parts com l'oficina europea anti-frau, el tribunal de comptes, o les autoritats
    judicials, si és necessari i proporcionat legalment, per finalitats concretes; </li>
  <li>Vostè te dret a accedir a la seva informació personal, a què sigui esmenada i al dret a recórrer
   en qualsevol moment en el que penseu que el vostre dret de protecció de les vostres dades ha sigut compromés;</li>
  <li>No conservarem la vostra informació personal més temps del necessari per
   a dur a terme la funció per la que la van recollir;</li>
  <li>De totes maneres, podriem conservar la vostra informació per un periode de temps més
   llarg amb finalitats històriques, estadístiques o científiques,
    amb les mesures de salvaguarda adequades.</li>
</ul>

<h4>Cookies</h4>
<p><a href="#legal-cookies">Les cookies</a> son fitxers petits de text que
la web emmagatzema
al dispositiu de l'usuari (com un ordinador, una tauleta o un mòbil).</p>
<p>Les cookies s'usen pel funcionament tècnic de la web o per recollir estadístiques.</p>
<p>Les cookies, a més, proporcionen una experiència d'usari més personalitzada, per exemple
 quan un servei online recorda el perfil d'un usuari sense haver d'identificar-se manaulament.</p>
<p>Quan vostè visita la nostra web, podriem recollir dades de la vostra navegació
 com la vostra adreça IP, la pàgina que esteu visitant, quan l'esteu visitant
  i la pàgina que us n'ha redirigit.</p>
<p>Aquesta informació es fa servir per obtenir estadístiques anònimes i agregades
 per millorar els nostres serveis i millorar la vostra experiència d'usuari.</p>
<p>Quan visiteu aquesta web, recollirem l'històric de visites del navegador
 per un màxim de 13 mesos. Aquesta informació serà, llavors, suprimida.</p>
<p>Si voleu esborrar la vostra informació de les nostres estadístiques anònimes i
 agregades, ho podeu fer <a href="#clear-cookies">aquí</a>.</p>
<p>Llegiu la nostra informació sobre les <a href="#legal-cookies">cookies</a>
 per ampliar el vostre coneixement sobre els tipus de cookies que usa aquesta web.</p>

<h4>Xarxes socials</h4>
<p>Usem les xarxes socials per donar a conèixer la nostra tasca
 a través dels canals més habituals avui en dia.</p>
<p>L'us de les xarxes socials a la nostra web és destacable. </p>
<p>Per exemple, podeu veure videos de YouTube o seguir enllaços que us portin a les
pàgines de les nostres xarxes socials.</p>
<p>Les cookies les estableixen les vistes dels botons de les nostres xarxes socials per
 connectar a aquests serveis quan les pàgines de la nostra web es carreguen
  desde el vostre ordinador (o altres dispositius) o desde components d'aquestes
   xarxes socials, incrustats a la nostra web.</p>
<p>Cada xarxa social te la seva pròpia política per processar les vostres dades personals
 quan accediu a les seves webs. Per exemple, si trieu veure un dels nostres videos de YouTube,
  s'us demanarà de donar el consentiment explícit a les cookies de
  <a href="https://www.youtube.com/static?template=privacy_guidelines">YouTube</a>; si veieu
   la nostra activitat a Twitter, s'us demanarà el consentiment explícit per acceptar les cookies de
 <a href="https://twitter.com/privacy?lang=en">Twitter</a>;
  i el mateix aplica a la resta de xarxes socials</p>
<p>Si teniu dubtes o us amoïna algun aspecte de l'us de les vostres dades personals, haurieu de
 llegir les seves polítiques de privacitat detalladament abans d'usar els seus serveis.</p>

<h4>Gestió de les queixes</h4>

<h5>Quins tipus de dades personals processa aquesta web?</h5>
<p>Processem les dades personals enviades per les nostres visites. Això inclou
 noms, informació de contacte i també el contingut de les alegacions.</p>

<h5>Qui pot rebre les meves dades personals?</h5>
<p>Les vostres dades son accessibles pels membres adequats de la nostra plantilla.
 L'accès a les vostres dades per part seva, queda registrat.</p>

<h5>Quins són els meus drets?</h5>
<p>Podeu accedir a les dades personals que conservem de vostè i fer que les
 esmenem si és necessari. En alguns casos, també teniu el dret de bloquejar les vostres dades,
  o fer que les esborrem o oposar-vos al seu processament. Per ampliar aquesta informació
   siusplau, consulteu els articles 13 a 19 de la Regulació.</p>
<p>Per exercir qualsevol d'aquests drets, siusplau contacteu-nos a través del
 nostre formulari de contacte. Rebreu una resposta abans de 3 mesos. Siusplau,
 tingueu en compte que es podrien aplicar restriccions contempaldes a l'article 20
  de la Regulació en alguns casos.</p>

<h5>Per quan de temps conserveu les meves dades?</h5>
<p>Conservem els registres - incloent les vostres dades personals - fins a dos anys.</p>

<h5>Com us puc contactar?</h5>
<p>Ens podeu contactar així:</p>
<ul>
  <li>correu electrònic: <a href="mailto:{{mail}}">{{mail}}</a>;</li>
  <li>Podeu trobar la informació completa de contacte a la web.</li>
</ul>
<br><br>
<h2 id="legal-cookies">Cookies</h2>
<p>A la nostra web usem <a href="#cookies">cookies</a> per les seves funcionalitats
 tècniques i per recollir estadístiques. Una cookie és una petita peça d'informació
  que la web emmagatzema a l'ordinador o dispositiu mòbil de l'usuari.</p>
<p>La taula posterior llista les cookies que usa la web i per a què serveixen.</p>
<p>També podreu trobar alguns detalls més sobre les cookies relacionades a les nostres
 xarxes socials i al servei que usem per les nostres estadístiques.</p>

<h4>Cookies de les xarxes socials</h4>
<p>Usem xarxes socials per enfortir la nostra preseència online i visibilitat.</p>
<ul>
  <li>Podeu seguir enllaços de la nostra web cap a les xarxes socials;</li>
  <li>Si veieu un video a la nostra web, un missatge us avisarà que us cal
   acceptar la política de cookies de Youtube.
    <a href="https://www.youtube.com/static?template=privacy_guidelines">YouTube</a>
    te les seves polítiques de cookies i de privacitat sobre les que no tenim cap control.
     No s'instal·larà cap cookie de Youtube fins que no en doneu el vostre consentiment;
</li>
</ul>
<h4>Google Analytics</h4>
<p>Quan usem Google Analytics, un servei d'estadístiques de Google,
  Inc. (“Google”), aquest usa cookies per analitzar com l'usuari usa la web.
   La informació generada per la cookie sobre el vostre us de la web
    (incloent l'adreça IP) serà transmesa i emmagatzemada per Google als seus servidors
     dels EEUU.
 </p>
<p>Si l'anonimatització de la IP està activa, Google truncarà/anonimatitzarà
 el darrer octet de l'adreça IP pels membres dels estats de la UE i altres
 parts en l'Acord amb el Mercat Comú. Només en casos excepcionals, l'adreça IP
  completa és enviada i escurçada als servidors de Google als EEUU.
</p>
<p>Google usarà aquesta informació en el nostre nom per avaluar l'us de la web,
 creant informes sobre l'activitat a la web. Google no associarà la vostra IP
  a cap altre dels seus serveis.
</p>
<p>Vostè pot refusar l'us de les cookies seleccionant les preferències
 apropiades al seu navegador. Però en aquest cas, li voldriem fer notar que
  potser no serà capaç d'obtenir un funcionament complert de la web.
</p>


<h4 id="clear-cookies">Neteja de cookies</h4>
<p>Per defecte, l'experiència de navegació dels nostres visitants podria ser
 registrada per Google Analytics per obtenir estadístiques anonimitzades.</p>
<p>No obstant, vostè pot prevenir la recollida i us d'aquestes dades
 (cookies i adreça IP) per par de Google descarregant i instal·lant
  una extensió pel seu navegador a https://tools.google.com/dlpage/gaoptout?hl=en.
 Siusplau us volem fer notar que en aquesta web el codi de Google
  Analytics es proveït per “gat._anonymizeIp();” per assegurar una recollida
   anonimatitzada de l'adreça IP (anomenada emmascarament IP).
</p>
<p><button id="gdpr-clear-cookie" data-done="Clear cookie: done!">Neteja de les cookies de la web.</button></p>

<h4>Preferències per evitar el registre</h4>
<p><em>Do not track</em> és una funció que permet els visitants evitar
 ser registrats per les webs per qualsevol motiu, incloent els serveis
  d'estadístiques, anàlisi, xarxes d'anuncis i xarxes socials. Les opcions de
  "Do not track" estan disponibles en molts navegadors incloent:</p>
<ul>
  <li><a href="https://support.mozilla.org/en-US/kb/how-do-i-turn-do-not-track-feature" title="Firefox">Firefox</a></li>
  <li><a href="https://support.google.com/chrome/answer/114836?hl=en&amp;ref_topic=3421433" title="Chrome">Chrome</a></li>
  <li><a href="http://help.apple.com/safari/mac/9.0/#/sfri40732" title="Safari">Safari</a></li>
  <li><a href="http://help.opera.com/Windows/12.10/en/notrack.html" title="Opera">Opera</a></li>
</ul>

<p>Si vostè habilita <em>do not track</em> al seu navegador, Google Analytics
  respectarà la seva tria. Vostè no serà registrat;</p>
<p>Si vostè ha deshabilitat totes les cookies del seu navegador, encara recollirem
 algunes dades generals sobre la seva navegació (per ex. el registre de una visita a la
  nostra web) però no seran tant precises i les dades personals de la
  vostra visita no sea registrada.</p>
